@model TrainCheck_in.Models.Passenger
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Завершення</title>
   
    <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <p>
        <h1>Дякуємо за реєстрацію</h1>
        <h2>Приємної подорожі</h2>
        
    </p>
   </body>
</html>