@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вітаємо</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Ласкаво просимо!</h3>
        <h4>Зручна реєстрація на потяг онлайн</h4>
        <a  asp-action="RegistrationForm">Зареєструватися</a>
    </div>
</body>
</html>